[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/story"]
	path = themes/story
	url = https://github.com/xaprb/story.git
[submodule "themes/hugo_story"]
	path = themes/hugo_story
	url = https://github.com/caressofsteel/hugo-story.git
[submodule "themes/story2"]
	path = themes/story2
	url = https://github.com/xaprb/story.git
[submodule "themes/cards"]
	path = themes/cards
	url = https://github.com/bul-ikana/hugo-cards.git
[submodule "themes/classless_blog"]
	path = themes/classless_blog
	url = https://gitlab.com/Kaligule/classless-blog.git
[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
